{% extends "layout.html" %}

{% block content %}
<style>
    input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
</style>
<br>
<div class ="Contenido wrapper">
    <div class="contenido">   
        <form method="POST">
            <br>
            <h1 style="text-align:center">Eliminar Nave del inventario</h1>
            <br>      
                  
            <label for="nombre" data-toggle="tooltip" data-placement="right">Ingrese el nombre de la nave que vas a eliminar:</label><br>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre" pattern="[A-Za-z0-9\s]+" title="Solo se admiten letras y numeros." required>
                    
            <input type="submit" value="ELIMINAR">
        </form>

        <h3 class="text-center p-4 my-1">{{info}}</h3>
    </div>
</div><br>
<div class ="tabla g">
  <div class="contenido">
      <h2>Naves en el sistema</h2>
      <p>La siguiente tabla muestra la información de las Naves registradas en el sistema:</p>
      {{ tabla_naves }}
  </div>
</div>
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

{% endblock content %}